html,body{
  /* 전체 속성 (초기화) */
    margin: 0;
    height: 100%;
    overflow: hidden;
  }
  body {
    /*웹페이지의 세로 길이를 초과하여 컨텐츠가 저장될 경우 스크롤 처리*/
    overflow-y: scroll;
  }
  header{
    /*상단 로고 및 이미지 부분*/
    position: relative;
    width: 100%;
    height: 250px;
    background-image: url("../_images/header_img.png");
  }
  #title{
    /*상단 로고 부분*/
    position: absolute;
    color: white;
    width: 300px;
    height: 60px;
    top: 40px;
    left: 80px;
    font-size: 54px;
    font-weight: 600;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
  }
  nav{
    /*네비게이션 메뉴 부분*/
    width: 100%;
    height: 50px;
  }
  nav > div:nth-child(1){
    /*상단메뉴 SCP 메인 부분*/
    width: 15%;
    height: 48px;
    background-color: rgba(0,20,100,0.8);
    color: white;
    font-size: 20px;
    text-align: center;
    line-height: 48px;
    float: left;
    cursor: pointer;
  }
  nav > div:nth-child(2){
    /*상단메뉴 SCP 소개 부분*/
    width: 15%;
    height: 48px;
    background-color: rgba(0,20,100,0.8);
    color: white;
    font-size: 20px;
    text-align: center;
    line-height: 48px;
    float: left;
    cursor: pointer;
  }
  nav > div:nth-child(3){
    /*상단메뉴 일반 C 부분*/
    width: 15%;
    height: 48px;
    background-color: rgba(0,20,100,0.8);
    color: white;
    font-size: 20px;
    text-align: center;
    line-height: 48px;
    float: left;
    cursor: pointer;
  }
  nav > div:nth-child(4){
    /*상단메뉴 고급 C 부분*/
    width: 15%;
    height: 48px;
    background-color: rgba(0,20,100,0.8);
    color: white;
    font-size: 20px;
    text-align: center;
    line-height: 48px;
    float: left;
    cursor: pointer;
  }
  nav > div:nth-child(5){
    /*상단메뉴 FAQ 부분*/
    width: 15%;
    height: 48px;
    background-color: rgba(0,20,100,0.8);
    color: white;
    font-size: 20px;
    text-align: center;
    line-height: 48px;
    float: left;
    cursor: pointer;
  }
  nav > div:nth-child(6){
    /*상단메뉴 우측 여백부분*/
    width: 25%;
    height: 48px;
    background-color: rgba(0,20,100,0.8);
    float: left;
  }
  article{
    /*내용부분*/
    position: sticky;
    width: 100%;
    height: 100%;
  }
  
  .category {
    /*카테고리 부분*/
    height: 60px;
    line-height: 60px;
    font-size: 20px;
    color: #47464c;
  }
  #subtitle {
    /*현재 선택된 상단메뉴 색깔 별도지정*/
    background-color: rgba(0,40,200,0.6);
  }
  
  a {
    /*a 태그의 밑줄 제거*/
    text-decoration: none;
  }
  
  .button {
    /* 버튼 기능을 하는 div 속성*/
    width: 100px;
    height: 32px;
    background-color: #74777c;
    color: white;
    text-align: center;
    line-height: 32px;
  }
  
  article > div {
    /*아티클 내의 div*/
    float: left;
    width: 100%;
    height: 90%;
  }
  
  #next{
    /*다음 버튼 (예비용)*/
    float: right;
  }
  
  #prev {
    /*이번 버튼 (예비용)*/
    float: left;
  }

  article > div{
    /*본문 부분 박스*/
    width: 80%;
    height: 100%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    font-size: 40px;
    line-height: 48px;
  }

  article > ul{
    /*본문 부분 묶음*/
    width: 80%;
    height: 95%;
    margin: 0 10%;
  }
  li{
    /*질문 및 답변 부분*/
    font-size: 18px;
    list-style: none;
  }

  li > b{
    /*질문 볼드처리 부분*/
    font-size: 26px;
  }